.playerTurnTitle{
    @include flexCenter;
    height: 10vh;
    margin-bottom: 1rem;
    p {
        margin: 0 0.5rem;
        font-size: 2rem;
    }
}

.board {
    // width: 75%;
    margin: 0 auto;
    @include setHeightAndWidth(95vmin);
    background-color: $contrastLightColor;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .field{
        text-align: center;
        width: $fieldsize;
        height: $fieldsize;
        display: flex;
        @include flexCenter;
        flex-direction: column;
        p {
            color: gray;
            font-size: 70%;
        }
        .pawn{
            margin: 3%;
            padding: 2%;
            @include setHeightAndWidth(62%);
            border-radius: 50%;
            transition: background-color 0.2s ease;
        }
        .selectedPawn{
            background-color: $primaryColor;
        }
    }
}

@keyframes wrongPawnSelected{
    0%{
        background-color: none;
    }
    30%{
        background-color: red;
    }
    100%{
        background-color: none;
    }
}

@keyframes pawnTaked{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}