.playerColors{
    @include flexCenter;
    justify-content: space-around;
    height: 10vh;
    p {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

.playerTurnTitle{
    @include flexCenter;
    height: 10vh;
    margin-bottom: 2rem;
    p {
        margin: 0 0.5rem;
        font-size: 2rem;
    }
}

.board {
    // width: 75%;
    margin: 0 auto;
    @include setHeightAndWidth(95vmin);
    background-color: $contrastLightColor;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .field{
        text-align: center;
        width: $fieldsize;
        height: $fieldsize;
        display: flex;
        @include flexCenter;
        flex-direction: column;
        p {
            color: gray;
            font-size: 50%;
        }
        .pawn{
            margin: 1%;
            @include setHeightAndWidth(48%);
        }
    }
}

// end on 17:41