.intro {
    @include flexCenter;
    flex-direction: column;
    height: 100vh;
    h1 {
        font-size: 3rem;
    }
    button {
        border: none;
        cursor: pointer;
        font-size: 4rem;
        color: $primaryColor;
        background-color: white;
        border-radius: 0.2rem;
        padding: 0.5rem;
        margin-top: 5rem;
        transition: color 0.5s, background-color 0.9s;
        &:hover{
            color: $darkHueColor;
            background-color: #eee;
        }
    }
}