.winPage {
    height: 100vh;
    @include flexCenter;
    flex-direction: column;
    position: relative;
    .winInfo{
        @include flexCenter;
        p {
            font-size: 5rem;
            margin: 0 2rem;
        }
    }
    button {
        @include baseButtonFormat;
    }
    .confetti{
        position: absolute;
        transition: top 1s linear, left 1s linear;
    }
}