.winPage {
    height: 100vh;
    @include flexCenter;
    flex-direction: column;
    .winInfo{
        @include flexCenter;
        p {
            font-size: 5rem;
            margin: 0 2rem;
        }
    }
    button {
        @include baseButtonFormat;
    }
}