.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.intro h1 {
  font-size: 3rem;
}

.intro button {
  border: none;
  cursor: pointer;
  font-size: 4rem;
  color: #39A3EF;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-top: 5rem;
  -webkit-transition: color 0.5s, background-color 0.9s;
  transition: color 0.5s, background-color 0.9s;
}

.intro button:hover {
  color: #1B4D70;
  background-color: #eee;
}

.playerTurnTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  margin-bottom: 1rem;
}

.playerTurnTitle p {
  margin: 0 0.5rem;
  font-size: 2rem;
}

.board {
  margin: 0 auto;
  height: 95vmin;
  width: 95vmin;
  background-color: #F2AE76;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.board .field {
  text-align: center;
  width: 12.5%;
  height: 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.board .field p {
  color: gray;
  font-size: 70%;
}

.board .field .pawn {
  margin: 3%;
  padding: 2%;
  height: 62%;
  width: 62%;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.board .field .selectedPawn {
  background-color: #39A3EF;
}

@-webkit-keyframes wrongPawnSelected {
  0% {
    background-color: none;
  }
  30% {
    background-color: red;
  }
  100% {
    background-color: none;
  }
}

@keyframes wrongPawnSelected {
  0% {
    background-color: none;
  }
  30% {
    background-color: red;
  }
  100% {
    background-color: none;
  }
}

@-webkit-keyframes pawnTaked {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pawnTaked {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.winPage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.winPage .winInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.winPage .winInfo p {
  font-size: 5rem;
  margin: 0 2rem;
}

.winPage button {
  border: none;
  cursor: pointer;
  font-size: 4rem;
  color: #39A3EF;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-top: 5rem;
  -webkit-transition: color 0.5s, background-color 0.9s;
  transition: color 0.5s, background-color 0.9s;
}

.winPage button:hover {
  color: #1B4D70;
  background-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: #3DADFC;
}

body audio {
  display: none;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */